.heading {
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 50px;
    font-weight: 100;
    font-family: fantasy;
    margin: 0;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    max-width: 1200px;
    margin: auto;
    gap: 5px; 
} 
.box{
    display:block;
    box-shadow: 3px #ffff;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
 } 
img{
    height: 350px;
    width: 250px;
 }  
img.rounded-corners{
    border-radius: 30px;
}
.text-on-image{
    font-weight: bold;
    font-size: 20px;
    color:white;
    margin: 0;
    left: 50%;
    right: 50%;
    justify-content: center; 
    position: absolute;
} 
p{
    text-transform: uppercase;
}
.footer{
    display: flex;
     width: 100%;
    position: sticky;
    /* margin: auto;
    padding: auto; */
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    bottom: 10px;
    font-size: 20px;
}
.carousel{
    height: 30%;
    width: 640px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: auto;
}
.carousel img{
    width:100%;
}

  
  

 
