.heading {
    display: grid;
    align-items: center;
    justify-content: center;
    color: blue;
    font-size: 50px;
    font-weight: 100;
    font-family: fantasy;
}
.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 15px;
}
.container .box-container .box{
    box-shadow: 3px #ffff;
    border-radius: 30px;
    text-align: center;
    padding: 20px 30px;
    cursor: pointer;
    position: relative;
}
.container .box-container .box img{
    height: 350px;
    width: 250px;
} 
img.rounded-corners{
    border-radius: 30px;
}
.text-on-image{
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
} 
p{
    text-transform: uppercase;
}
.container .box-container .card{
    box-shadow: 3px #ffff;
    border-radius: 30px;
    text-align: center;
    padding: 20px 30px;
    cursor: pointer;
    margin: auto;
}
.container .box-container .card img{
    height: 300px;
    width: 250px;
}
.footer{
    display: flex;
    position: sticky;
    margin: auto;
    padding: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    bottom: 10px;
}
.carousel{
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.carousel img{
    width: auto;
}

  

 
